.services {
    width: 100%;
    text-align: center;

    h2 {
        text-align: center;
        font-size: 2rem;
        margin: 20px 0;
    }

    .gallery {
        margin: 20px 0px;

        ul {
            list-style-type: none;
            padding: 0px;

            li {
                float: left;
                margin: 20px;
            }

            .service-item {
                width: 12em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                .service-icon {
                    width: 7em;
                    height: 7em;
                }

                .service-title {
                    text-align: center;
                    font-size: 22px;
                    margin: 10px 0;
                }
            }
        }
    }
}
